:root {
  --gray-dark: #031024;
  --gray-light: #f1f5f9;
  --orange-hover: orange;
  --blue-light: #dfe5f4;
  --blue-medium: #2563eb;
  --blue-dark: #032e8a;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: var(--gray-light);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  background-color: var(--gray-dark);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-light);
}

.header h2 {
  display: flex;
  align-self: center;
  font-size: 3rem;
}

.header__logotype {
  color: var(--blue-medium);
}

.header__menu-toggle {
  display: none;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.header__links a {
  text-decoration: none;
  color: var(--gray-light);
  font-weight: bold;
}

.header__links a:hover {
  color: var(--orange-hover);
  transition: 0.5s;
}

.header__link-style {
  background-color: var(--blue-medium);
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  color: var(--gray-light);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__link-style img {
  width: 2rem;
}

.header__link-style:hover {
  background-color: var(--blue-dark);
  color: var(--gray-light);
  transition: 0.3s;
}

.section-hero {
  background-color: var(--gray-dark);
  padding: 4rem 2rem;
  margin-top: 5rem;
}

.section-hero__content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.section-hero__content__left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.section-hero__content__left__top {
  width: fit-content;
  border: 1px solid var(--blue-medium);
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
}

.section-hero__content__left h1 {
  font-size: 5.5rem;
}

.section-hero__content__left__text-title {
  color: var(--blue-medium);
}

.section-hero__content__left__text-paragraph {
  width: 85%;
  font-size: 2rem;
  line-height: 1.4;
}

.section-hero__content__left__buttons {
  display: flex;
  gap: 4rem;
}

.section-hero__content__left__buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--blue-medium);
  color: var(--gray-light);
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.section-hero__content__left__buttons__button:hover {
  background-color: var(--blue-dark);
  cursor: pointer;
  transition: 0.3s;
}

.section-hero__content__left__buttons__button-learn-more {
  background-color: var(--gray-dark);
  color: var(--gray-light);
  font-size: 1.8rem;
  padding: 1rem 4rem;
  border-radius: 5px;
  border: 1px solid var(--gray-light);
  font-weight: 600;
}

.section-hero__content__left__buttons__button-learn-more:hover {
  border-color: var(--orange-hover);
  cursor: pointer;
  color: var(--orange-hover);
  transition: 0.3s;
}

.section-hero__content__left__descriptions {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.6rem;
}

.section-hero__content__left__descriptions__info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.section-hero__content__left__descriptions__info p {
  line-height: 1.4;
}

.section-hero__content__left__descriptions__info img {
  width: 4rem;
}

.section-hero__content__right {
  display: flex;
  align-self: end;
}

.section-hero__content__right img {
  width: 55rem;
}

.section-courses {
  background-color: var(--gray-light);
  color: var(--gray-dark);
  padding: 4rem;
}

.section-courses__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-courses__content h3 {
  color: var(--blue-medium);
  text-transform: uppercase;
}

.section-courses__content h2 {
  font-size: 3rem;
}

.section-courses__content__filter {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section-courses__content__search {
  display: flex;
  align-items: center;
}

.section-courses__content__search input {
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var(--gray-light);
  outline: none;
  width: 22vw;
}

.section-courses__content__search button {
  border: none;
  background-color: var(--gray-light);
}

.section-courses__content__search button img {
  width: 3rem;
}

.section-courses__content__search button img:hover {
  cursor: pointer;
}

.section-courses__content__filter__select-level select {
  padding: 1rem 3rem;
  border-radius: 5px;
  border: 3px solid var(--gray-light);
  outline: none;
}

.section-courses__content__filter__select-level {
  display: flex;
  align-items: center;
  position: relative;
}

.section-courses__content__filter__select-level img {
  width: 2rem;
  position: absolute;
  right: 85%;
}

.section-courses__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section-courses__content__search__font-color-search_failure {
  color: red;
  font-weight: 600;
}

.section-courses__cards__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}

.section-courses__cards__card__content__img {
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--gray-dark);
}

.section-courses__cards__card__content__img img {
  width: 8rem;
}

.section-courses__cards__card h3 {
  text-transform: none;
  color: var(--gray-dark);
}

.section-courses__cards__card__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.section-courses__cards__card__info__specific {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem 0;
  border-top: 3px solid var(--gray-light);
  border-bottom: 3px solid var(--gray-light);
}

.section-courses__cards__card__info__specific__time-level {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section-courses__cards__card__info__specific__time-level img {
  width: 2rem;
}

.section-courses__cards__card__info__price-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-courses__cards__card__info__price-button span {
  font-weight: 600;
}

.section-courses__cards__card__info__price-button a {
  text-decoration: none;
  font-weight: 600;
  color: var(--blue-light);
  background-color: var(--blue-medium);
  padding: 1rem 3rem;
  border-radius: 10px;
}

.section-courses__cards__card__info__price-button a:hover {
  background-color: var(--blue-dark);
  transition: 0.3s;
}

#section-courses__info__all-courses {
  background-color: var(--gray-light);
  border: none;
  width: fit-content;
  text-decoration: none;
  color: var(--blue-medium);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

#section-courses__info__all-courses:hover {
  color: var(--blue-dark);
  transition: 0.5s;
}

.section-testimonials {
  background-color: var(--blue-light);
  color: var(--gray-dark);
  padding: 4rem;
}

.section-testimonials__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-testimonials__content h3 {
  color: var(--blue-medium);
  text-transform: uppercase;
}

.section-testimonials__content h2 {
  font-size: 3rem;
}

.section-testimonials__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}

.section-testimonials__cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
}

.section-testimonials__cards__card__content {
  display: flex;
  gap: 1rem;
}

.section-testimonials__cards__card__content img {
  width: 8rem;
  align-self: center;
  border-radius: 100%;
}

.section-testimonials__cards__card__content__texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-testimonials__cards__card__content__texts h3 {
  text-transform: none;
  color: var(--gray-dark);
}

.section-testimonials__cards__card__content__texts span {
  font-size: 1.5rem;
}

.section-testimonials__cards__card__content__texts img {
  width: 2rem;
  background-color: white;
}

#section-testimonials__update__testimonials {
  background-color: var(--blue-light);
  border: none;
  width: fit-content;
  text-decoration: none;
  color: var(--blue-medium);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

#section-testimonials__update__testimonials:hover {
  color: var(--blue-dark);
  transition: 0.5s;
}

.section-location {
  background-color: var(--gray-light);
  color: var(--gray-dark);
  padding: 4rem;
}

.section-location__content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

.section-location__content__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-location__content h3 {
  color: var(--blue-medium);
  text-transform: uppercase;
}

.section-location__content h2 {
  font-size: 3rem;
}

.section-location__content__search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-location__content__search input {
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var(--gray-light);
  outline: none;
  width: 15vw;
}

.section-location__content__search button {
  text-decoration: none;
  font-weight: 600;
  color: var(--blue-light);
  background-color: var(--blue-medium);
  padding: 1rem 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}

.section-location__content__search button:hover {
  background-color: var(--blue-dark);
  transition: 0.3s;
  cursor: pointer;
}

.section-location__content__info {
  background-color: white;
  padding: 2rem;
}

.section-location__content__info__route {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.section-location__content__info__route__house {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-location__content__info__route img {
  width: 3rem;
}

.section-location__content__info__route__car span {
  font-weight: 600;
}

.section-location__content__info__route__car {
  display: flex;
  flex-direction: column;
}

.section-location__content__info__route__img-car {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-location__content__info__route__distance-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-top: 3px solid var(--gray-light);
}

.section-location__content__info__route__distance-time span {
  color: var(--blue-medium);
  font-size: 2.5rem;
  font-weight: 600;
}

.section-location__content__right {
  width: 95%;
}

.section-contact {
  background-color: var(--blue-light);
  color: var(--gray-dark);
  padding: 4rem;
}

.section-contact__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-contact__info__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.section-contact__info__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}

.section-contact__info h3 {
  color: var(--blue-medium);
  text-transform: uppercase;
}

.section-contact__info h2 {
  font-size: 3rem;
}

.section-contact__info p {
  font-size: 1.5rem;
  line-height: 1.4;
}

.section-contact__info__left form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.section-contact__info__left form input {
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var(--gray-light);
  outline: none;
}

.section-contact__info__left form textarea {
  height: 15rem;
  outline: none;
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var(--gray-light);
  font-family: "Inter", sans-serif;
}

.section-contact__info__left form button {
  background-color: var(--blue-medium);
  color: var(--gray-light);
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 1rem 0;
  border: none;
  font-weight: 600;
}

.section-contact__info__left form button:hover {
  background-color: var(--blue-dark);
  transition: 0.3s;
  cursor: pointer;
}

.section-contact__info__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-contact__info__right__content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.section-contact__info__right__content img {
  width: 2rem;
}

footer {
  background-color: var(--gray-dark);
  padding: 2rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 2rem 0;
}

.footer__info article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__info__articicle__redes-sociais {
  display: flex;
  gap: 2rem;
}

.footer__info__articicle__redes-sociais img {
  width: 3rem;
}

.footer__info__articicle__links a {
  text-decoration: none;
  color: var(--gray-light);
  width: fit-content;
}

.footer__info__articicle__links a:hover {
  color: var(--orange-hover);
  transition: 0.5s;
}

.footer__info__articicle__links input {
  padding: 1rem 1rem;
  border-radius: 10px;
  outline: none;
}

.footer__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__input button {
  background-color: var(--blue-medium);
  border-radius: 5px;
  padding: 1rem;
  border: none;
  color: var(--gray-light);
  font-weight: 600;
}

.footer__input button:hover {
  background-color: var(--blue-dark);
  cursor: pointer;
}

.footer__info__copiright {
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }

  .header__menu-toggle {
    display: block;
  }

  .header__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--gray-dark);
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    display: none;
  }

  .header__links.active {
    display: flex;
  }

  .header__link-style {
    display: none;
  }

  .section-hero__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section-hero__content__left {
    align-items: center;
  }

  .section-hero__content__left h1 {
    text-align: center;
  }

  .section-hero__content__right {
    align-self: center;
  }

  .section-hero__content__right img {
    width: 55rem;
  }

  .section-courses__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-testimonials__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-location__content {
    display: flex;
    flex-direction: column;
  }

  .section-location__content__search input {
    width: 25vw;
  }

  .section-location__content__right {
    width: 100%;
    height: 300px;
  }

  .section-contact__info__cards {
    display: flex;
    flex-direction: column;
  }

  .section-contact__info__left {
    width: 70vw;
    margin-left: 6rem;
  }

  .footer__info {
    padding: 2rem;
  }
}
